<% include('layout',{body: null}) %>
<h2>Agregar Producto</h2>
<form action="/add" method="POST">
    <label>Nombre: <input type="text" name="nombre" required></label>
    <label>Apellidos: <input type="text" name="apellidos" required></label>
    <label>Direccion: <input type="text" name="direccion" required></label>
    <label>Telefono: <input type="number" name="telefono" required></label>
    <button type="submit">Guardar</button>
</form>