<form method="POST" action="/calcular">
    <label for="num1">Número1:</label>
    <input type="number" name="num1" id="num1" >
    <br>
    <label for="num2">Número2:</label>
    <input type="number" name="num2" id="num2" >
    <br>
    <button type="submit">calcular</button>
</form>